@page
@model WestWindWebApp.Pages.SendMailModel
@{
}
<form method="post">
    <div class="mb-3">
        <label asp-for="MailUsername" class="form-label">Username</label>
        <input asp-for="MailUsername" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="MailPassword" class="form-label">Password</label>
        <input asp-for="MailPassword" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="MailToAddress" class="form-label">Email To</label>
        <input asp-for="MailToAddress" type="email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="MailSubject" class="form-label">Subject</label>
        <input asp-for="MailSubject" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="MailMessage">Message</label>
        <textarea asp-for="MailMessage" cols="50" rows="5" class="form-control">
            </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send Mail</button>

</form>